
@{
    ViewBag.Title = "Đặt lại mật khẩu không thành công";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<div class="container" style="margin-top:160px">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p style="color:black;">
           Email của bạn không có trong hệ thống vui lòng kiểm tra lại!</p>
    </div>
</div>