@{
    ViewBag.Title = "Xác thực tài khoản!!";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<div class="container" style="margin-top:160px">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p style="color:red;">
            Vui lòng kiểm tra Email mà bạn dùng để đăng ký tài khoản!!
        </p>
    </div>
</div>
