@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Khóa";
}

<hgroup>
    <h1 class="text-danger">Khóa.</h1>
    <h2 class="text-danger">Tài khoản của bạn đã bị khóa.Vui lòng thử lại!</h2>
</hgroup>
