
<!-- Sidebar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="sidebar">

</div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!--Phần chọn chuyển trang của Admin-->
         @*   <li class="nav-item">
                <a href="/admin/Category" class="nav-link">
                    <i class="nav-icon fas fa-solid fa-bars"></i>
                    <p>
                        Danh Mục Tiêu Đề
                    </p>
                </a>
            </li>*@
            <li class="nav-item">
                <a href="/admin/role" class="nav-link">
                    <i class="nav-icon fas fa-solid fa-bars"></i>
                    <p>
                        Quản Lý Quyền
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/account" class="nav-link">
                    <i class="nav-icon fas fa-solid fa-bars"></i>
                    <p>
                        Quản Lý Tài Khoản
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-solid fa-bars"></i>
                    <p>Quản Lý Sản Phẩm </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/productcategory" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Phân Loại</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/products" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Sản Phẩm</p>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a href="/admin/order" class="nav-link">
                    <i class="nav-icon fas fa-solid fa-bars"></i>
                    <p>
                        Quản Lý Đơn Hàng
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/statistical" class="nav-link">
                    <i class="nav-icon fas fa-solid fa-bars"></i>
                    <p>
                        Thống Kê Doanh Thu
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://localhost:44367/admin/account/login" class="nav-link">
                    <p>
                        Đăng Xuất
                    </p>
                </a>
            </li>
        </ul>
    </nav>

